@page "/C_EntradasEmpaque"

<EditForm Model="listaE">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h3>Consulta de Entrada Empaquetado</h3>
        </div>
        <div class="card-body">
            <form>
                <div class="input-group d-flex align-items-end">
                    <div class="flex-fill mx-2">
                        <label>Filtro</label>
                        <select class="form-control col-2" @bind="Filtro">
                            <option value="1">Id</option>
                            <option value="2">Fecha</option>
                            <option value="3">Concepto</option>
                        </select>
                    </div>
                    <div class="flex-fill mx-2">
                        <label>Criterio</label>
                        <input type="text" class="form-control" @bind="Criterio" />
                    </div>
                    <div class="flex-fill mx-2">
                        <label>Filtra por Fecha</label>
                        <input type="date" class="form-control" @bind="FechasC" />
                    </div>


                    <button type="button" class="btn btn-warning" @onclick="Buscar">
                        <i class="oi oi-magnifying-glass mr-2"> Buscar</i>
                    </button>
                </div>
            </form>
        </div>
        <table class="table table-bordered">
            <thead class="thead-darck">
                <tr class="table">
                    <th>Id</th>
                    <th>Fecha</th>
                    <th>Concepto</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in listaE)
                {
                        <tr>
                            <td>@item.IdEmpacado</td>
                            <td>@item.Fecha</td>
                            <td>@item.Concepto</td>
                            <td><a class="btn btn-sm btn-outline-primary oi oi-eye"
                            href="R_ProductosEmpacado/@item.IdEmpacado">Ver</a></td>
                        </tr>
                }
            </tbody>
        </table>
    </div>
</EditForm>

@code {
    public string? Filtro { get; set; }
    public string? Criterio { get; set; }
    public DateTime? FechasC { get; set; } = null;

    public List<EntradasEmpacados> listaE = new List<EntradasEmpacados>();
    
    public EntradasEmpacados entradasEmpcados { get; set; } = new EntradasEmpacados();
    public EntradaEmpaqueDetalle entradaEmpaqueDetalle { get; set; } = new EntradaEmpaqueDetalle();

    [Inject]
    public EntradaEmpacadosBBL entradaEmpacadoaBBL { get; set; }


    private void Buscar()
    {
        if (Criterio != null)
        {
            switch (Filtro)
            {
                case "1":
                    listaE = entradaEmpacadoaBBL.GetListEntradaE(p => p.IdEmpacado == int.Parse(Criterio));
                    break;
                case "2":
                    listaE = entradaEmpacadoaBBL.GetListEntradaE(c => c.Fecha.ToString().ToLower().Contains(FechasC.ToString().ToLower()));
                    break;
                case "3":
                    listaE = entradaEmpacadoaBBL.GetListEntradaE(p => p.Concepto.ToLower().Contains(Criterio.ToLower()));
                    break;
            }
        }
        else
        {
            listaE = entradaEmpacadoaBBL.GetListEntradaE(c => true);
        }
    }





}
